body {
 margin: 0;
 font-family: sans-serif;
 text-align: center;
}
.my-site-layout {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 text-align: center;
}

header {
 height: 60px;
 background-color: pink;
}
.columns {
 display: flex;
}
