.My-Site-Layout {
width: 100%;

display: grid;
 grid: 
 "header header header" auto
 "Leftbox body Rightside" 1fr
 "footer footer footer" auto 
  / auto 1fr auto;
 gap: 5em;
          background: url();
}
.header {
           grid-area: header;
           background: ;
           }
.Leftbox {
           grid-area: LeftSide;
           }
.main {
           grid-area: body;
}
.Rightbox {
           grid-area: Rightbox;
           }
.footer {
           grid-area: footer;
}
